<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <th:block th:replace="layout/partials/head">Adding head</th:block>
</head>
<body>
<th:block th:replace="layout/partials/navbar">Adding navbar</th:block>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Kontakt</h1>
            <p class="lead">Jeżeli masz pytania? Proszę wypełnij formularz lub zadzwoń.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <!--/*@thymesVar id="contactDto" type="com.wtb.application.contact.ContactDto"*/-->
            <form th:action="@{/contact}" th:object="${contactDto}" method="post">

                <div class="row form-group">
                    <div class="col-md-6">
                        <div class="md-form mt-3">
                            <input type="text" th:field="*{email}" class="form-control" placeholder="Email">
                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">
                                Email error.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mt-3">
                            <input type="text" th:field="*{name}" class="form-control"
                                   placeholder="Imię i nazwisko">
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">
                                Name error.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" th:field="*{subject}" class="form-control" placeholder="Temat">
                            <div th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" class="text-danger">
                                Subject error.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="md-form">
                                <textarea type="text" th:field="*{message}" rows="4"
                                          class="form-control md-textarea" placeholder="Treść wiadomości"></textarea>
                            <div th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="text-danger">
                                Message error.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group form-check">
                    <div class="col-md-12">
                        <div class="md-form">
                            <input class="form-check-input" type="checkbox" th:field="*{sendEmail}" id="resend">
                            <label for="resend">Chcę otrzymać kopię tej wiadomości na swoją skrzynkę
                                pocztową.</label>
                        </div>
                    </div>
                </div>
                <div class="text-center text-md-left">
                    <button class="btn btn-dark" type="submit">Wyślij wiadomość</button>
                </div>
            </form>
        </div>

        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Warszawa, Polska</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 48 123 123 123</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contact@wtb.com</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="js/contact.js"></script>

</body>
</html>