<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WTB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark" style="background-color: #265652;">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/}"><span class="badge badge-info mr-2">S</span>Substi</a>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <!-- logowanie / rejestracja -->
            <form class="form-inline" th:action="@{/login/}" method="post">
                <input class="form-control mr-sm-2 my-1" type="search" th:name="login"  placeholder="Email" aria-label="Email">
                <input class="form-control mr-sm-2 my-1" type="password" th:name="password" placeholder="Hasło" aria-label="Hasło">
                <button class="btn btn-outline-success" type="submit">Zaloguj</button>
                <a th:href="@{/register/}" class="ml-2 badge badge-info">Rejestracja</a>
            </form>
        </li>
    </ul>
</nav>
<h1>Witaj wfsfs  dssddnlnffn ale dobrzto jest coś e dfsdf fs...</h1>
<img th:src="@{/images/wtb.jpeg}">



</body>
</html>